<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bodyHeader :: bodyHeader"></head>

<body>
<h1 style="margin-right: 50px">로그인</h1>
<form action="/user/login" method="post">
    <label th:for="email" class="form-label">Email</label>
    <input
            type="email"
            name="username"
            class="form-control"
            placeholder="name@example.com"
    />
    <br />
    <label th:for="password" class="form-label">Password</label>
    <input
            type="password"
            name="password"
            class="form-control"
    />
    <br />
    <button type="submit" class="btn btn-primary" style="border-color: black; background-color: black">로그인</button>
    <a class="fab fa-google" href="/oauth2/authorization/google" style="color: blue"></a>
    <a class="fab fa-neos" href="/oauth2/authorization/naver" style="color: darkgreen"></a>
    <a class="fab fa-facebook-square" href="/oauth2/authorization/facebook" style="color: blue"></a>
    <a class="fab fa-github" href="/oauth2/authorization/github" style="color: black"></a>
</form>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>